.searchBar {
    display: flex;
    width: calc(100% - 5px);
    /* background-color: brown; */
    padding: 0px 5px;
    border-radius: 40px;
    text-align: center;
    height: 35px;
    /* position: relative; */
}

.searchBar .sb2 {
    width: 80%;
    height: 100%;
    text-align: left;
    position: relative;
}

.searchBar .sb2 input {
    background: url(../../assets/icon/search.png), var(--primary);
    background-size: 23px 23px;
    background-position-x: 5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    position: absolute;
    width: 6.5%;
    margin: auto;
    color: white;
    padding: 5px 10px;
    border: 2px solid var(--primary);
    height: 22px;
    border-radius: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

.searchBar .sb2 input[type=text]:focus {
    outline: none;
    background-image: none;
    width: 100%;
    padding: 5px 20px;
    border: 2px solid white;
    cursor: text;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchBar .sb2 svg {
    position: absolute;
    /* z-index: 2; */
    padding: 5px;
}