.categoryList_wrapper {
    width: 100%;
}

.categoryList_container {
    width: calc(100% - 80px);
    padding: 40px;
    display: flex;
}

.categoryList_content {
    width: calc(75% - 20px);
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.categoryList_content .productCard_wrapper {
    width: auto;
    padding: 20px 0px;
}

.categoryList_inquiry {
    width: 25%;
    padding: 20px 0px;
}





@media (max-width: 1024px) {
    .categoryList_container {
        width: calc(100% - 80px);
        padding: 40px;
        display: block;
    }

    .categoryList_content {
        width: calc(100% - 20px);
        padding-right: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .categoryList_inquiry {
        width: calc(50% - 40px);
        padding: 20px;
        margin: auto;
    }
}

@media (max-width: 790px) {

    .categoryList_content {
        grid-template-columns: auto auto;
    }

    .categoryList_inquiry {
        width: calc(80% - 40px);
    }
}

@media (width<500px) {
    .categoryList_container {
        width: calc(100% - 40px);
        padding: 40px 20px;
    }

    .categoryList_content {
        width: 100%;
        padding-right: 0px;
        grid-template-columns: auto;
    }

    .categoryList_inquiry {
        width: calc(100% - 40px);
    }
}