.bookingA_wrapper {
    width: 100%;
    margin-top:55px;
}

.bookingA_container {
    width: 90%;
    margin: auto;
    height:100vh;
}

.bookingA_content table {
    width: 100%;
    text-align: left;
    border-color: #063970;
}

.bookingA_content table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #063970;
    color: white;
}



.bokkingA_content table tr {
    background-color:var(--dim-bg);
}

/* .bookingA_content table tr th,.bookingA_content table tr,
.bookingA_content table tr td
{
    border-color: #063970;
} */











