.testimonial_wrapper {
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background-color: var(--dim-bg);
}

.testimonial_title {
    padding: 20px;
}

.testimonial_title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}