.productA_wrapper {
    width: 100%;
   
}

.productA_container {
    width: 90%;
    margin: auto;
}

.productA_content {
    width: 100%;
}

.pac_productListContainer {
    width: 100%;
    margin: 30px 0px;
    background-color: white;
    border-radius: 10px;
}

.pac_categoryViewer {
    width: 100%;
    display: flex;
}

.pac_categoryViewer .pac_categoryTitle {
    width: calc(100% - 50px);
    /* background-color: blue; */
}

.pac_categoryViewer .pac_expandBTN {
    width: 50px;
    margin: auto;
    text-align: center;
    /* background-color: red; */
}

.pac_categoryViewer .pac_categoryTitle h3 {
    margin: 0px;
    padding: 20px 30px 20px 30px;
}

.pac_categoryViewer .pac_expandBTN svg {
    margin: auto;
    font-size: 28px;
}

.pac_productList {
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pac_productList .productCard_wrapper {
    width: auto;
    height: 130px;
    padding: 20px 0px;
}

.pac_productList .productCard_wrapper .productCard_container {
    min-width: 17vw;
}

.pac_productList .productCard_wrapper .productCard_container .productCard_contents {
    font-size: 13px;
}

@media (max-width: 1024px) {
    z .pac_productList {
        width: calc(100% - 20px);
        padding-right: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 790px) {

    .pac_productList {
        grid-template-columns: auto auto;
    }
}

@media (width<500px) {

    .pac_productList {
        width: 100%;
        padding-right: 0px;
        grid-template-columns: auto;
    }
}








.button-9 {
  height:30px;
  display:inline-block;
  
  width:80px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}